{% extends "layout.html" %}

{% block content %}

<h2>BiP Switch Project</h2>
<h4>A prototype smart switch powered by a Flask web server on a Raspberry Pi.</h4>
<p>The BiP (Web Pi) Switch Project is a switch for your smart home. The switch can be controlled via its Raspberry Pi and touchscreen interface or even through a browser on your internet-connected device when on the WiFi network. Built with the Flask framework, the Raspberry Pi runs a Python program that creates a web server allowing users to turn on or off the switch and even get the weather from Dark Sky and a good quote from Quotes on Design. You can find the project on <a href="https://github.com/nic7aller/bip-switch">GitHub</a> for more details.</p>
<hr />
<p>BiP Switch - Created by Nic Siebenaller</p>
{% endblock %}
