{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <p><a class="btn btn-primary btn-lg active btn-block" href="/TurnSwitch">{{ state }}</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4 id="dquote-title"></h4>
        <p id="dquote-content"></p>
        <a id="dquote-source"></a>
    </div>
    <div class="col-md-4">
        <h4 id="rsquote-title">Ron Swanson</h4>
        <p id="rsquote-content"></p>
    </div>
    <div class="col-md-4">
        
    </div>
</div>

<script>
    $(document).ready( function() {
        // From Quotes On Design
        $.ajax({
            url: 'http://quotesondesign.com/wp-json/posts?filter[orderby]=rand&filter[posts_per_page]=1',
            success: function (data) {
                var post = data.shift(); // The data is an array of posts. Grab the first one.
                $('#dquote-title').text(post.title);
                $('#dquote-content').html(post.content);

                // If the Source is available, use it. Otherwise hide it.
                if (typeof post.custom_meta !== 'undefined' && typeof post.custom_meta.Source !== 'undefined') {
                    $('#dquote-source').html('Source:' + post.custom_meta.Source);
                } else {
                    $('#dquote-source').text('');
                }
            },
            cache: false
        });
        
    });
</script>

{% endblock %}
